- content_for :title, 'Log In'
= stylesheet_link_tag "login.css"

#logreg-forms
  %br/
  .form-signin
    %h1.h3.mb-3.font-weight-normal{:style => "text-align: center"} Sign in
    .social-login
      %button.btn.facebook-btn.social-btn{:type => "button"}
        %span
          %i.fab.fa-facebook-f
          Sign in with Facebook
      %button.btn.google-btn.social-btn{:type => "button"}
        %span
          %i.fab.fa-google-plus-g
          Sign in with Google+
    = simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
      = f.input :email, autofocus: true, required: true , autocomplete: "email", placeholder: 'Email address', label: false, input_html: {id: 'inputEmail',class: 'form-control'}
      = f.input :password, required: true, placeholder: 'Password', label: false, input_html: {id: 'inputPassword',class: 'form-control'}

      = submit_button 'Log in'
      .mt-3= render "devise/shared/links"
