
.bg-white.rounded.shadow-sm.p-4.mb-5.rating-review-select-page
  %h5.mb-4 Submit your feedback:
  -# frozen_string_literal: true
  = simple_form_for(Feedback.new) do |f|
    = f.error_notification
    = f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present?

    .form-inputs
      = f.input :comment, as: :text, label: false, required: true, input_html: { class: 'mb-4'}
      = f.input :feedback_category, as: :select, collection: ['Positive', 'Negative', 'Neutral'], selected:'Neutral' , prompt: 'Select Feedback Type', label: false
    .form-actions
      = f.button :submit, 'Submit Feedback', class: 'btn btn-primary btn-sm'
